.recommendedVideos{
  flex:0.8;
  padding:40px 20px;
  padding-bottom:0;
  background-color:#f9f9f9;
}

.recommendedVideos >h2{
  margin-left:5px;
  margin-botom:20px
}

.recommendedVideos__videos{
  display:flex;
  flex-wrap:wrap;
}